asg2_client/src/asg2client/service/asg2_service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://asg2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://asg2/" name="asg2serviceService">
<types>
<xsd:schema>
<xsd:import namespace="http://asg2/" schemaLocation="http://localhost:8080/asg2_war_exploded/services/asg2_service?xsd=1"/>
</xsd:schema>
</types>
<message name="List">
<part name="parameters" element="tns:List"/>
</message>
<message name="ListResponse">
<part name="parameters" element="tns:ListResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="editResponse">
<part name="parameters" element="tns:editResponse"/>
</message>
<message name="sayHelloWorldFrom">
<part name="parameters" element="tns:sayHelloWorldFrom"/>
</message>
<message name="sayHelloWorldFromResponse">
<part name="parameters" element="tns:sayHelloWorldFromResponse"/>
</message>
<message name="book">
<part name="parameters" element="tns:book"/>
</message>
<message name="bookResponse">
<part name="parameters" element="tns:bookResponse"/>
</message>
<message name="List1">
<part name="parameters" element="tns:List1"/>
</message>
<message name="List1Response">
<part name="parameters" element="tns:List1Response"/>
</message>
<message name="getCustomerTrips">
<part name="parameters" element="tns:getCustomerTrips"/>
</message>
<message name="getCustomerTripsResponse">
<part name="parameters" element="tns:getCustomerTripsResponse"/>
</message>
<portType name="asg2service">
<operation name="List">
<input wsam:Action="http://asg2/asg2service/ListRequest" message="tns:List"/>
<output wsam:Action="http://asg2/asg2service/ListResponse" message="tns:ListResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://asg2/asg2service/editRequest" message="tns:edit"/>
<output wsam:Action="http://asg2/asg2service/editResponse" message="tns:editResponse"/>
</operation>
<operation name="sayHelloWorldFrom">
<input wsam:Action="http://asg2/asg2service/sayHelloWorldFromRequest" message="tns:sayHelloWorldFrom"/>
<output wsam:Action="http://asg2/asg2service/sayHelloWorldFromResponse" message="tns:sayHelloWorldFromResponse"/>
</operation>
<operation name="book">
<input wsam:Action="http://asg2/asg2service/bookRequest" message="tns:book"/>
<output wsam:Action="http://asg2/asg2service/bookResponse" message="tns:bookResponse"/>
</operation>
<operation name="List1">
<input wsam:Action="http://asg2/asg2service/List1Request" message="tns:List1"/>
<output wsam:Action="http://asg2/asg2service/List1Response" message="tns:List1Response"/>
</operation>
<operation name="getCustomerTrips">
<input wsam:Action="http://asg2/asg2service/getCustomerTripsRequest" message="tns:getCustomerTrips"/>
<output wsam:Action="http://asg2/asg2service/getCustomerTripsResponse" message="tns:getCustomerTripsResponse"/>
</operation>
</portType>
<binding name="asg2servicePortBinding" type="tns:asg2service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="List">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sayHelloWorldFrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="book">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="List1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerTrips">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="asg2serviceService">
<port name="asg2servicePort" binding="tns:asg2servicePortBinding">
<soap:address location="http://localhost:8080/asg2_war_exploded/services/asg2_service"/>
</port>
</service>
</definitions>